/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.env.bak
.env.local
.env.dong
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.php_cs.cache
_ide_helper.php
_ide_helper_models.php
.htaccess
nginx.htaccess
/common/log/prod
/common/logs/prod
.phpstorm.meta.php
.php-cs-fixer.cache
psalm.xml